<header>
  <div class="container-fluid">
    <div class="row py-3 border-bottom">
      <!-- Logo -->
      <div class="col-sm-4 col-lg-3 text-center text-sm-start">
        <div class="main-logo">
          <a href="index.html">
            <img src="images/logo.png" alt="logo" class="img-fluid" />
          </a>
        </div>
      </div>

      <!-- Search Bar -->
      <div class="col-sm-6 offset-sm-2 offset-md-0 col-lg-5 d-none d-lg-block">
        <!-- ...existing search bar code... -->
      </div>

      <!-- Cart & User Icons -->
      <div
        class="col-sm-8 col-lg-4 d-flex justify-content-end gap-5 align-items-center mt-4 mt-sm-0"
      >
        <!-- ...existing icons code... -->
      </div>
    </div>
  </div>
  <!-- ...rest of header code... -->
</header>
